<div class="homebg">


	


<div class="col-md-6">


<h2 class="big baseline">Apprenez à 
	<br><span class="hackunafont">concevoir | développer | lancer</span> 
	<br>votre première application web 
	<br><div class="bluckuna biggy"><b>en un weekend</b></div>
</h2>








</div>
</div>

<div class="altbg-signup">
    <div class="container">
      <%= render "mailchimpform" %>
  </div>
</div>

	</div>

<div class="altbg-first">
	<div class="container">
		<p class="lead bluckuna big text-center"><span class="biggy"><b>En un weekend</b></span> <br>obtenez les méthodes et les outils pour <br>donner vie à <b>vos idées</b> ou améliorer <b>votre business</b></p>
		<!-- <div class="row">
			<div class="col-md-4">
	Aucune connaissance préalable requise
</div>
<div class="col-md-4">
	Formation englobante (de la conception au lancement de l'app)
</div>
<div class="col-md-4">
	Formation pratique (donne des outils et concept directement utilisables dans vos activités)
</div>
</div> -->

</div>
</div>

<div class="altbg-second">
	<div class="container text-center">
		<p class="lead bluckuna text-center big"><span class="biggy"><b>En 3 modules</b></span>
			<br>vous aurez les outils pour répondre aux questions suivantes</p>
		<div class="row">
			<div class="col-md-4">
		<div class="lead"><b>module 1 : conception</b>
	<br>Que faire avant de commencer à développer mon application web ? 
	<br><small>(1/2 jour)</small>
	</div>
	</div>

	<div class="col-md-4">
		<div class="lead"><b>module 2 : développement</b>
		<br>Comment techniquement réaliser la première version de mon app ?
		<br><small>(1 jour)</small>
	</div>
	</div>

	<div class="col-md-4">
		<div class="lead"><b>module 3 : lancement</b>
		<br>Que faire d'utile après la publication de mon application ?
		<br><small>(1/2 jour)</small>
		</div>
	</div>

</div>

</div>
</div>

<!-- A COMPLETER
<div class="altbg-third">
	<div class="container">
		<p class="lead bluckuna text-center big"><b>Ce cours est fait pour vous</b></p>
	</div>
</div>

<div class="altbg-third">
	<div class="container">
		<p class="lead bluckuna text-center big"><b>A propos de l'auteur du cours</b></p>
	</div>
</div>
-->
