<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="HKNonline">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Souscrire au cours</h4>
      </div>
      
      <div class="modal-body">
        <div class="text-justify">Voici les données du virement bancaire que vous pouvez effectuer.
        <br>Dès réception de votre virement, votre souscription au cours sera activée.</div>
        <hr>
        Compte bancaire :
        <p><b>BE10 0017 0156 4704</b></p>
        Bénéficiaire :
        <p><b>UPcetera SPRLS</b>
        <br><small>bvd des Invalides 135, 1160 Auderghem</small></p>
        Montant :
        <p><b>150,- EUR</b></p>
        Communication :
        <p><b>HKN online - <%= current_user.email %></b></p>
        <hr>
        <div class="text-center">Si vous souhaitez être pris(e) en compte plus rapidement, vous pouvez envoyer votre preuve de virement à <%= link_to "contact@hackuna.org", "mailto:contact@hackuna.org", class: "hkncolor" %></div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>









