<ul class="list-group">
    <li class="list-group-item">Vendeurs</li>
    <li class="list-group-item">Documents</li>        
    <li class="list-group-item">Music</li>
    <li class="list-group-item">Videos</li>
</ul>