<p class="lead">En pleine négociation ? N'oubliez pas l'essentiel !</p>

<ul class="list-group">

   <li class="list-group-item">
    	Négociations : limiter tout engagement à la durée et au contexte des négociations
    </li>
    <li class="list-group-item">
    	Il y a contrat dès qu'une offre <b>définitive</b> est acceptée <b>sans réserve</b>
    </li>
    <li class="list-group-item">
    	Force et ordre des documents : précisez-le jusqu'au bout
    </li>
    <li class="list-group-item">
    	Raisons du choix du vendeur, dans le préambule
    </li>
    <li class="list-group-item">
    	Garantir vos droits : SLA (avec sanctions, indemnitaires et non abusives)
    </li>
    <li class="list-group-item">
    	Obligations de "moyen amélioré" du vendeur : référence aux plus hauts standards de qualité
    </li>      
    <li class="list-group-item">
    	Votre obligation de paiement : modaliser délais, interdire suspension services ou procéduraliser cette suspension
    </li>   
    <li class="list-group-item">
    	Force majeure : restreindre la définition
    </li>
    <li class="list-group-item">
    	Responsabilité : évaluer risques réputationnels, et autres dommages indirects
    </li>
    <li class="list-group-item">
    	Dépendance au vendeur : aménager (durée minimale, durée de préavis, key personel, termination assistance, faculté de remplacement, knowledge transfert en cours de contrat)
    </li>
    <li class="list-group-item">
    	Propriété intellectuelle : recevoir dès release, transmissible à tiers, survit au contrat, royalties à monétiser si réutilisation par vendeur, escrow, interopérabilité
    </li>
    <li class="list-group-item">
    	Change of control : évaluer en parallèle avec votre dépendance (attention effet boomerang)
    </li>
    <li class="list-group-item">
    	Publicité (mention de votre nom) : utiliser comme monnaie d'échange
    </li>
    <li class="list-group-item">
    	Droit : continental, au pire arbitrage international
    </li>
    <li class="list-group-item">
    	cCCEr : Communiquer - Constater - Confirmer - par Ecrit - voire par Recommandé
    </li>
    <li class="list-group-item">
    	Résiliation : choix stratégique du motif de résiliation
    </li>

</ul>