<p class="lead">En pleine négociation ? N'oubliez pas l'essentiel !</p>

<ul class="list-group">
	<li class="list-group-item">
    	Négociations : limiter tout engagement à la durée et au contexte des négociations
    </li>
    <li class="list-group-item">
    	Il y a contrat dès qu'une offre <b>définitive</b> est acceptée <b>sans réserve</b>
    </li>
    <li class="list-group-item">
    	Force et ordre des documents : précisez-le jusqu'au bout
    </li>
    <li class="list-group-item">
    	Qualité de l'acheteur (compétences adéquates et spécifiques), dans le préambule
    </li>
    <li class="list-group-item">
    	Obligations : diminuer ou conditionner
    </li>        
    <li class="list-group-item">
    	Force majeure : étendre la définition
    </li>
    <li class="list-group-item">
    	Responsabilité : limiter, procéduraliser
    </li>
    <li class="list-group-item">
    	Dépendance au client : aménager (durée minimale, durée de préavis, coût de switching : termination assistance)
    </li>
    <li class="list-group-item">
    	Propriété intellectuelle : conserver, restreindre, ne transmettre qu'après paiement
    </li>
    <li class="list-group-item">
    	Change of control : évaluer en parallèle avec votre dépendance, la concurrence et l'IP
    </li>
    <li class="list-group-item">
    	Droit : continental, au pire arbitrage international
    </li>
    <li class="list-group-item">
    	cCCEr : Communiquer - Constater - Confirmer - par Ecrit - voire par Recommandé
    </li>
    <li class="list-group-item">
    	Résiliation : choix stratégique du motif de résiliation
    </li>
</ul>