<nav class="navbar navbar-default text-center footer-nav" role="navigation">

    <br>
      <p>Hackuna est un service qui vous est proposé par <%= link_to "Laetitia Massa", "http://linkedin.com/in/laetitiamassa", :target => "_blank" %> | copyright 2015
      </p>

    <span class="fa-stack fa-lg">
		<a href="http://facebook.com/hackuna.org" target="_blank">
		  	<i class="fa fa-circle fa-stack-2x hkncolor"></i>
		  	<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
		</a>
	</span>

	<span class="fa-stack fa-lg">
		<a href="http://twitter.com/hackuna_org" target="_blank">
		  	<i class="fa fa-circle fa-stack-2x hkncolor"></i>
		  	<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
		</a>
	</span>

	<span class="fa-stack fa-lg">
		<a href="mailto:contact@hackuna.org" target="_blank">
		  	<i class="fa fa-circle fa-stack-2x hkncolor"></i>
		  	<i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
		</a>
	</span>


      
    </nav>